#sidebar,
.btn-primary,
.nav-tabs>li:not(.title-tab):after,
#timeline .post-content .post-date span{
    background: #00bcd4;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
    color: #00bcd4;
    border-color: #00bcd4;
}
.nav-tabs>li>a:hover{
    color: #00bcd4;
}
.dataTable tbody tr.active td, 
.dataTable tbody tr.active:hover td{
    background: #00bcd4 !important;
}
.select2-results .select2-highlighted{
    background-color: #00bcd4;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover, 
.datepicker table tr td span.active:hover.active:hover,
.list-group-item.active,
.list-group-item.active:focus, 
.list-group-item.active:hover{
    background: #00bcd4;
    border-color: #00bcd4;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus,
#sidebar-menu li ul > li > a,
#sidebar-menu li:hover,
#sidebar-menu > li.active > a,
#sidebar-menu li a:hover
{
    background: #00acc1; 
    color: #FFF;
}
#sidebar-menu .devider{
    border-color: #00acc1
}
a {
    color: #00acc1;
}
.bg-success{
    background: #00acc1;
}

#sidebar-menu li a,
#sidebar-menu li.expand > a:before{
    color: #fff;
}
#sidebar-menu > li.active > a{
    border-color: #fff;
}
#sidebar-menu > li > ul > li > a:hover{
    background: #0097a7;
    color: #fff;
}

a:hover,
a:focus,
a:active{
    color: #00838f;
}
.bg-dark-success{
    background: #00838f; 
}
