#sidebar,
.btn-primary,
.nav-tabs>li:not(.title-tab):after,
#timeline .post-content .post-date span{
    background: #2471a3;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
    color: #2471a3;
    border-color: #2471a3;
}
.nav-tabs>li>a:hover{
    color: #2471a3;
}
.dataTable tbody tr.active td, 
.dataTable tbody tr.active:hover td{
    background: #2471a3 !important;
}
.select2-results .select2-highlighted{
    background-color: #2471a3;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover, 
.datepicker table tr td span.active:hover.active:hover, 
.list-group-item.active,
.list-group-item.active:focus, 
.list-group-item.active:hover{
    background: #2471a3;
    border-color: #2471a3;
}


.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus,
#sidebar-menu li ul > li > a,
#sidebar-menu li:hover,
#sidebar-menu > li.active > a,
#sidebar-menu li a:hover
{
    background: #1f618d; 
    color: #fff;
}
#sidebar-menu .devider{
    border-color: #1f618d
}
a {
    color: #1f618d;
}
.bg-success{
    background: #1f618d;
}


#sidebar-menu li a,
#sidebar-menu li.expand > a:before{
    color: #fff;
}
#sidebar-menu > li.active > a{
    border-color: #fff;
}
#sidebar-menu > li > ul > li > a:hover{
    background: #1a5276;
    color: #fff;
}


a:hover,
a:focus,
a:active{
    color: #154360;
}
.bg-dark-success{
    background: #154360; 
}
