#sidebar,
.btn-primary,
.nav-tabs>li:not(.title-tab):after,
#timeline .post-content .post-date span{
    background: #2e86c1;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
    color: #2e86c1;
    border-color: #2e86c1;
}
.nav-tabs>li>a:hover{
    color: #2e86c1;
}
.dataTable tbody tr.active td, 
.dataTable tbody tr.active:hover td{
    background: #2e86c1 !important;
}
.select2-results .select2-highlighted{
    background-color: #2e86c1;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover, 
.datepicker table tr td span.active:hover.active:hover, 
.list-group-item.active,
.list-group-item.active:focus, 
.list-group-item.active:hover{
    background: #2e86c1;
    border-color: #2e86c1;
}


.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus,
#sidebar-menu li ul > li > a,
#sidebar-menu li:hover,
#sidebar-menu > li.active > a,
#sidebar-menu li a:hover
{
    background: #2874a6; 
    color: #FFF;
}
#sidebar-menu .devider{
    border-color: #2874a6
}
a {
    color: #2874a6;
}
.bg-success{
    background: #2874a6;
}



#sidebar-menu li a,
#sidebar-menu li.expand > a:before{
    color: #FFF;
}
#sidebar-menu > li.active > a{
    border-color: #FFF;
}
#sidebar-menu > li > ul > li > a:hover{
    background: #21618c;
    color: #FFF;
}



a:hover,
a:focus,
a:active{
    color: #1b4f72;
}
.bg-dark-success{
    background: #1b4f72; 
}
