#sidebar,
.btn-primary,
.nav-tabs>li:not(.title-tab):after,
#timeline .post-content .post-date span{
    background: #a93226;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:active,
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus{
    color: #a93226;
    border-color: #a93226;
}
.nav-tabs>li>a:hover{
    color: #a93226;
}
.dataTable tbody tr.active td, 
.dataTable tbody tr.active:hover td{
    background: #a93226 !important;
}
.select2-results .select2-highlighted{
    background-color: #a93226;
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.active:hover, 
.datepicker table tr td span.active:hover.active:hover, 
.list-group-item.active,
.list-group-item.active:focus, 
.list-group-item.active:hover{
    background: #a93226;
    border-color: #a93226;
}


.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus,
#sidebar-menu li ul > li > a,
#sidebar-menu li:hover,
#sidebar-menu > li.active > a,
#sidebar-menu li a:hover
{
    background: #922b21; 
    color: #FFF;
}
#sidebar-menu .devider{
    border-color: #922b21
}
a {
    color: #922b21;
}
.bg-success{
    background: #922b21;
}


#sidebar-menu li a,
#sidebar-menu li.expand > a:before{
    color: #fff;
}
#sidebar-menu > li.active > a{
    border-color: #fff;
}
#sidebar-menu > li > ul > li > a:hover{
    background: #7b241c;
    color: #fff;
}


a:hover,
a:focus,
a:active{
    color: #641e16;
}
.bg-dark-success{
    background: #641e16; 
}
